$white: #FFFFFF;
$white-semi-transparent: rgba(255,255,255,0.6);
$black: #1A1A1A;
$bright-yellow: #fff711;
$deep-space: #16293E;
$moon: #D5DDE1;
$stone: #7CA2B5;
$ozone: #00EBFA;
$bloom: #2CE993;
$bright-blue: #00BBFF;
$alt-bright-blue: #2994D1;
$navy: #203C5B;
$phone: 480px;
$tablet: 768px;
$laptop: 1024px;

$accent-color: $bright-yellow;

.light {
    background-color: $white;
    color: $black;
    a {
      color: $navy;
      font-weight: bold;
    }
}
.dark {
    background-color: $black;
    color: $white;
    a {
      color: $bloom;
      font-weight: bold;
    }
}
.light-gray {
    background-color: $moon;
    color: $deep-space;
}

html {
  overflow-x: hidden;
}
body {
    background-color: $black;
    color: $white;
    font-family: 'Montserrat', sans-serif;
}
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
}
p {
  font-size: 1.6rem;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.4rem;
}
h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
}
#page-wrapper {
  width: 100%;
}
.visible {
  display: block;
}
// body {
//     -ms-overflow-style: none;  // IE 10+
//     overflow: -moz-scrollbars-none;  // Firefox
// }
// body::-webkit-scrollbar {
//     display: none;  // Safari and Chrome
// }
body::-webkit-scrollbar {
    width: 0.5em;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: $accent-color;
  outline: 1px solid slategrey;
}

/*Page Loader*/
.page-loader {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: $black;
    pointer-events: none;
}

.page-loader__spinner {
    width: 140px;
    height: 140px;
    position: fixed;
    top: calc(50% - 70px);
    left: calc(50% - 70px);
    -webkit-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear
}

@media screen and (min-width: $tablet) {
    .page-loader__spinner {
        position: fixed;
        top: calc(50% - 90px);
        left: calc(50% - 90px);
        width:180px;
        height: 180px;
    }
}

@keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}
.loaded {
    opacity: 0;
    -webkit-transition: all 2s ease-out;
            transition: all 2s ease-out;
    div {
      opacity: 0;
      -webkit-transition: all 0.5s ease-out;
              transition: all 0.5s ease-out;
    }
}

/*Header Bar*/
.site-header {
    background-color: $black;
    height: 6vh;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-align-items: center;
    -moz-box-align: center;
    align-items: center;
    padding: 0.75vh 1.25vh;
    z-index: 350;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    justify-content: space-between;
    border-bottom: 1px solid $accent-color;
    a {
        color: $white;
    }
    a:link {
        text-decoration: none;
    }
}
.brand {
    position: relative;
    z-index: 25
}
.brand,.brand img {
    display: block;
    height: 100%;
    width: auto;
}


/*Mobile Nav*/
.mob-nav__burger {
    padding: 0;
    background-color: transparent;
    border: none;
    outline: 0;
    margin-left: auto;
    cursor: pointer;
    position: relative;
    display: block;
    height: 100%;
    img {
      height: 100%;
      width: auto;
    }
}

@media screen and (min-width: $laptop) {
    .mob-nav__burger {
        display:none
    }
}

.mob-nav__burger:focus {
  outline: none
}

.mob-nav__container {
    position: fixed;
    top: 6vh;
    z-index: 100;
    width: 100%;
    overflow-x: hidden;
    pointer-events: none;
}

@media screen and (min-width: $laptop) {
    .mob-nav__container {
        display:none
    }
}

.mob-nav {
    position: fixed;
    top: 6vh;
    left: 100vw;
    width: 100vw;
    height: 94vh;
    z-index: 9;
    overflow: hidden;
    pointer-events: initial;
    background-color: $black;
    transition: all .45s cubic-bezier(0.55,0,0.1,1);
    a:link {
        text-decoration: none;
    }
}

.mob-nav--open {
    -webkit-transform: translateX(-100vw);
    -ms-transform: translateX(-100vw);
    transform: translateX(-100vw)
}



@media screen and (min-width: $tablet) {
  .mob-nav {
    width: 50vw;
  }
  .mob-nav--open {
    -webkit-transform: translateX(-50vw);
    -ms-transform: translateX(-50vw);
    transform: translateX(-50vw)
  }
}

.mob-nav__menu {
    position: relative;
    z-index: 10;
    width: 100%;
    height: 100%;
    padding: 0 20px 20px;
    margin: 0;
    list-style: none
}

.mob-nav__menu--open {
    z-index: 11
}

.mob-nav__menu--children,.mob-nav__menu--parent {
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
    transition: all .45s cubic-bezier(0.55,0,0.1,1)
}

.mob-nav__menu--parent {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0)
}

.mob-nav__menu--parent.mob-nav__menu--closed {
    -webkit-transform: translateX(-100vw);
    -ms-transform: translateX(-100vw);
    transform: translateX(-100vw)
}

.mob-nav__menu--children {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.mob-nav__menu--children.mob-nav__menu--open {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0)
}

.mob-nav__menu--children.mob-nav__menu--closed {
    -webkit-transform: translateX(100vw);
    -ms-transform: translateX(100vw);
    transform: translateX(100vw)
}

.mob-nav__item:first-child .mob-nav__link,.mob-nav__item:first-child .mob-nav__trigger {
    border-top: 0
}

.mob-nav__link,.mob-nav__trigger {
    font-size: 1.4rem;
    color: $accent-color;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 1.5;
    position: relative;
    display: block;
    width: 100%;
    padding: 20px 9pt;
    text-decoration: none;
    text-align: left;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $moon;
    outline: 0;
    transition: color .3s;
    cursor: pointer
}
@media screen and (min-width: $tablet) {
  .mob-nav__link,.mob-nav__trigger {
    font-size: 1.4rem
  }
}

.mob-nav__link--active, .mob-nav__link.section, .mob-nav__link:focus, .mob-nav__link:hover, .mob-nav__trigger--active,
.mob-nav__trigger.section, .mob-nav__trigger:focus, .mob-nav__trigger:hover {
    color: $accent-color;
    outline: none;
    border-color: $accent-color;
    box-shadow: 0 0 10px $accent-color;
}

.mob-nav__link--active svg, .mob-nav__link.section svg, .mob-nav__link:focus svg, .mob-nav__link:hover svg,
.mob-nav__trigger--active svg, .mob-nav__trigger.section svg, .mob-nav__trigger:focus svg, .mob-nav__trigger:hover svg {
    fill: $accent-color
}

.mob-nav__link svg,.mob-nav__trigger svg {
    fill: $accent-color;
    position: absolute;
    top: 50%;
    right: 9pt;
    margin-top: -6px;
    transition: fill .3s
}

.mob-nav__trigger--back {
    font-weight: 400;
    color: $accent-color;
    text-align: center
}

.mob-nav__trigger--back svg {
    right: 0;
    left: 9pt
}


/*Desktop Nav*/
.site-nav {
    display: none;
    padding: inherit;
    -webkit-align-items: center;
    -moz-box-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    justify-content: center;
    a {
      vertical-align:middle;
    }
}

@media screen and (min-width: $laptop) {
    .site-header{
      position: fixed;
      top: 0;
      right: 0;
    }
    .site-nav {
      width: 100%;
      height: 6vh;
      line-height: 4vh;
      position: fixed;
      top: 0;
      right: 0;
      margin: auto;
      display: -webkit-flex;
      display: -moz-box;
      display: flex;
      vertical-align:middle;
    }
}

.site-nav__list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.site-nav__list:after,.site-nav__list:before {
    content: " ";
    display: table
}

.site-nav__list:after {
    clear: both
}

.site-nav__item {
    margin: 0;
    float: left;
    position: relative;
    cursor:pointer;
}

.site-nav__item+.site-nav__item {
    margin-left: 40px
}

.site-nav__link {
    color: $white;
    font-size: 1.4rem;
    letter-spacing: 4px;
    text-transform: uppercase;
    display: block;
    padding: 1vh 0;
}

.site-nav__link:after {
    content: '';
    height: 2px;
    background-color: $accent-color;
    position: absolute;
    bottom: 0;
    width: 0;
    right: 0;
    left: auto;
    transition: width .3s
}

.site-nav__link--active,.site-nav__link--section,.site-nav__link:focus,.site-nav__link:hover {
    color: $accent-color
}

.site-nav__link--active:after,.site-nav__link--section:after,.site-nav__link:focus:after,.site-nav__link:hover:after {
    width: 100%;
    left: 0;
    right: auto
}

div.site-nav__link {
    cursor: default
}

div.site-nav__link:focus,div.site-nav__link:hover {
    color: $accent-color
}

.site-nav__dropdown {
  display: none;
  background-color: $black;
  box-shadow: 2px 1px 1px $accent-color;
  list-style: none;
  padding: 1vw;
}

.site-nav__item--parent:hover .site-nav__dropdown {
  display: block;
  position: absolute;
  top: 100%;
}

.site-nav__dropdown-item {
  color: $white;
  font-size: 1.4rem;
  text-align: left;
  letter-spacing: 4px;
  padding: 1vh 0;
  text-transform: uppercase;
  -webkit-align-items: left;
  -moz-box-align: left;
  align-items: left;
  -webkit-justify-content: left;
  -moz-box-pack: left;
  justify-content: left;
}

.site-nav__dropdown-link:hover, .site-nav__dropdown-link:focus, .site-nav__dropdown-link:active{
  color: $accent-color
}

.video {
  height: 100vh;
  width: 100vw;
  margin: 3vh 0;
  iframe {
    height: 100%;
  }
  .caption__container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    margin: auto;
    z-index: -1;
    .caption{
      position: absolute;
      position: absolute;
      top: 40vh;
      width: 100vw;
      text-align: center;
      font-weight: bold;

      h1 {
        z-index: 1;
        font-size: 6rem;
        font-weight: bold;
      }
      h2 {
        z-index: 1;
        font-size: 4rem;
        font-weight: bold;
      }
      h3 {
        z-index: 1;
        font-size: 2rem;
        font-weight: bold;
      }
    }
  }
}

.scrollDown {
  position: absolute;
  top: 80vh;
  width: 100vw;
  text-align: center;
  h3 {
    font-size: 2rem;
  }
  cursor: pointer;
}

@media (min-width: $tablet) {
  .video {
    .caption__container {
      .caption{
        h1 {
          font-size: 10rem;
        }
        h2 {
          font-size: 8rem;
        }
        h3 {
          font-size: 6rem;
        }
      }
    }
  }
  .scrollDown {
    h3 {
      font-size: 4rem;
    }
  }
}

.arrows {
	width: 60px;
	height: 72px;
  margin-top: 10px;
}

.arrows path {
	stroke: $accent-color;
	fill: transparent;
	stroke-width: 2px;
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite;
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {
	animation-delay:0s;
	-webkit-animation-delay:0s; /* Safari 和 Chrome */
}

.imageCarousel {
    height: 60vh;
    margin: 0px auto;
    width: 100%;
    border-bottom: double #07167a;
}

.carousel-item {
    height: 60vh;
    img {
      height: 100%;
      display: block;
      margin: auto;
      object-fit: cover;
    }
}

.carousel-caption {
    width: 50%;
    display: block;
    margin: auto;
    vertical-align: middle;
    font-weight: bold;

    h1 {
        font-size: 5rem;
        font-weight: bold;
    }
    h2 {
        font-size: 4rem;
        font-weight: bold;
    }
    h3 {
        font-size: 3rem;
        font-weight: bold;
    }
}

.main-content-wrapper {
    width: 100%;
}

.paragraph-container {
    width: 100%;
    padding: 5vw;
}
.title {
  padding: 2vw 5vw;
  margin: 0;
  /*font-weight*/
}
@media (min-width: $tablet) {
    .paragraph-container {
        padding: 5vw 12vh;
    }
    .title {
      padding: 2vw 5vw;
    }
}

@media (min-width: $laptop) {
    .paragraph-container {
        padding: 4vw 25vh;
    }
    .title {
      padding: 2vw 2vw;
    }
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card {
    width: 100vw;
    height: auto;
    margin: 10px 0.25vw;
    border: none;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: $black;
    img {
        width: 100%;
        opacity: 0.9;
    }
    .card-container {
        width: 100%;
        height: 100%;
        text-align: center;
        position: absolute;
        color: white;
        text-shadow: 0 0 20px black;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

@media (min-width: $tablet) {
    .card {
        width: 48vw;
    }
}

@media (min-width: $laptop) {
    .card {
        width: 31vw;
    }
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  img {
    opacity: 0.5;
    -webkit-transition: all 0.25s ease-in;
    transition: all 0.25s ease-in;
  }
}
/*
#rapidCard {
    background-image: url('../../views/images/Logos/Rapid Photo.png')
}
#reachCard {
    background-image: url('../../views/images/Logos/Reach Photo 2.png')
}
#overseerCard {
    background-image: url('../../views/images/Logos/Overseer Photo 2.png')
}
#sandboxCard {
    background-image: url('../../views/images/Logos/Sandbox Photo 2.png')
}
#endeavourCard {
    background-image: url('../../views/images/Logos/Endeavour Photo.png')
}

.light > .card {
    background-color: $deep-space;
    color:$moon;
}
.dark > .card {
    background-color: $white;
    color: $black;
}
*/
.button{
  display:inline-block;
  font-size: 1.6rem;
  padding:0.5vw 1vw;
  margin: 0.5vw auto;
  border:2px solid $white;
  border-radius:0.12em;
  box-sizing: border-box;
  color:$white;
  background-color: $navy;
  text-align:center;
  transition: all 0.2s;
}
.button:hover{
  color:$accent-color;
  border-color: $accent-color;
}

#counters {
  display: flex;
  justify-content: space-around;
  .countBox {
    color: $white;
    .counter {
      font-size: 10vw;
      text-align: center;
      border-bottom: 1px solid $accent-color;
    }
    #memberCounter::after {
      content: "+";
    }
    h2 {
      font-size: 4vw;
      text-align: center;
    }
    @media (min-width: $tablet) {
      .counter {
        font-size: 6vw;
      }
      h2 {
        font-size: 3vw;
      }
    }
    @media (min-width: $laptop) {
      .counter {
        font-size: 4vw;
      }
      h2 {
        font-size: 2vw;
      }
    }
  }
}
footer {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;

  #mc_embed_signup {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;

    #mc_embed_signup_scroll {
      width: 100%;
      .mc-field-group {
        label {
          font-size: 1.4rem;
        }
      }
    }
  }

  .social-media-links {
    margin-top: 10px;
    padding: 0.5vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    img {
      width: 35px;
      height: 35px;
    }
    @media (min-width: $tablet) {
      img {
        width: 40px;
        height: 40px;
      }
    }
    @media (min-width: $laptop) {
      img {
        width: 45px;
        height: 45px;
      }
    }
  }
  img {
      height: 4vw;
      width: 4vw;
      padding: .5vw;
  }
  h2 {
    margin: 0;
    padding: 0.5vw;
    width: 100%;
  }
  .button {
    padding: 0.5vw;
  }
  .contact {
    a:link, a:hover, a:visited, a:active {
      color: #FFFFFF;
      font-weight: bold;
    }
  }
}


.text-image__container {
  padding: 0;
  width: 100%;
}
.text-image {
  display: flex;
  flex-direction: column;
  .paragraph-container {
    width: 100%;
  }
  img, video {
    display: block;
    object-fit: contain;
    max-height: 50vh;
    height: auto;
    width: auto;
  }
}
@media (min-width: $tablet) {
  .text-image__container {
    padding: 2vw;
  }
  .text-image {
    flex-direction: row-reverse;
    .paragraph-container {
      width: 55%;
      padding: 1vw 2vw;
      height: auto;
    }
    img, video {
      max-width: 45%;
      max-height: 40vh;
    }
  }
  .image-left {
    flex-direction: row;
  }
}

@media (min-width: $laptop) {
  .text-image__container {
    padding: 1vw;
  }
  .text-image {
    .paragraph-container {
        padding: 0.5vw 2vw;
        width: 60%;
    }
    img, video {
      width: 40%;
      min-height: 30vh;
    }
  }
}
.text-left > h1{
  text-align: right;
}

/*
#parallax-wrapper {
  position: relative;
  z-index: 0;
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}
#parallax-field {
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
#parallax-field #parallax-bg {
  position: absolute;
  top: -20px;
  left: -20px;
  width: 110%;
  height: auto;
  z-index: 1;
}
#parallax-illustration {
  display: block;
  margin: 0 auto;
  width: 940px;
  height: 370px;
  position: relative;
  overflow: hidden;
  clear: both;
}
#parallax-illustration img {
  position: absolute;
}
#parallax-illustration #parallax-payload {
  top: 72px;
  left: 72px;
  z-index: 10;
  width: 30vw;
  height: auto;
}
*/

.parallax-image {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.project-header{

}
.project-header__title {
  width: 100%;
  display: inline-block;
  padding: 0 1vw;
  position: absolute;
  top: 5vh;
  left: 1vw;
  h1 {
    text-shadow: 0 0 20px black;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    /*border: solid 2px black;*/
    font-size: 6rem;
    font-weight: bolder;
    padding-right: 1.5vw;
    color: $white;
  }
}
.project-intro {
  padding-left: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: left;
  h1 {
    text-align: left;
  }
}

// .officer-card {
//   display: flex;
//   flex-direction: column;
//   .card-cover {
//     width: 100%;
//   }
//   .card-detail {
//     width: 100%;
//   }
// }
//
// @media (min-width: $tablet) {
//   .officer-card {
//     flex-direction: row;
//     .card-cover {
//       width: 45%;
//     }
//     .card-detail {
//       width: 55%;
//     }
//   }
// }
//
// @media (min-width: $laptop) {
//   .officer-card {
//     .card-cover {
//       width: 40%;
//     }
//     .card-detail {
//       width: 60%;
//     }
//   }
// }

.project-description__content, .team-description__content, .past-projects__content, .project-timeline {
  display: flex;
  flex-direction: column;
  .paragraph-container {
    width: 100%;
  }
  .image-container{
    width: 100%;
    margin: 1vw;
    height: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
  }

  img {
    display: block;
    object-fit: contain;
    width: 100%;
  }
}

@media (min-width: $tablet) {
  .project-description__content, .team-description__content, .past-projects__content, .project-timeline {
    flex-direction: row;
    .paragraph-container {
      width: 95%;
      padding: 1vw 2vw;
      height: auto;
    }
    .image-container {
      width: 45%;
      max-height: 40vh;
    }
    img {
      height: 100%;
      margin: auto;
    }
  }
}

@media (min-width: $laptop) {
  .project-description__content, .team-description__content, .past-projects__content, .project-timeline {
    .paragraph-container {
        padding: 0.5vw 2vw;
        width: 60%;
    }
    .image-container{
      width: 40%;
      min-height: 30vh;
    }
  }
}

.parallax-image-header {
  height: 30vh;
}
.parallax-image-header__follow{
  height: 5vh;
}
.parallax-image-1 {
  height: 20vh;
}
.parallax-image-1__follow {
  height: 10vh;
}
.parallax-image-2 {
  height: 30vh;
}

#index-wrapper{
  .parallax-image-1, .parallax-image-1__follow {
    background-image: url('../images/pictures/aurora.jpg');
  }
  .parallax-image-header, .parallax-image-header__follow {
    background-image: url('../images/pictures/PCBs.jpg');
  }
}
#rapid-wrapper{
  .parallax-image-header, .parallax-image-header__follow {
    background-image: url('../images/pictures/PCBs.jpg');
  }
}
#reach-wrapper{
  .parallax-image-header, .parallax-image-header__follow {
    background-image: url('../images/pictures/breadboard.jpg');
  }
}
#overseer-wrapper{
  .parallax-image-header, .parallax-image-header__follow {
    background-image: url('../images/pictures/Overseer.JPG');
  }
}
#sandbox-wrapper{
  .parallax-image-header, .parallax-image-header__follow {
    background-image: url('../images/pictures/NBL.jpg');
  }
}
#endeavour-wrapper{
  .parallax-image-header, .parallax-image-header__follow {
    background-image: url('../images/pictures/aurora.jpg');
  }
}
#rapid-wrapper, #reach-wrapper, #overseer-wrapper, #sandbox-wrapper, #endeavour-wrapper{
  .project-header__title {
    text-transform: uppercase;
  }
}
#team-wrapper{
  .parallax-image-header, .parallax-image-header__follow {
    background-image: url('../images/pictures/meeting.jpg');
  }
}
#sponsor-wrapper{
  .parallax-image-header, .parallax-image-header__follow {
    background-image: url('../images/pictures/BSSPLASH.png');
  }
}
#calendar-wrapper{
  .parallax-image-header, .parallax-image-header__follow {
    background-image: url('../images/pictures/w6yra.jpg');
  }
}
#forms-wrapper{
  .parallax-image-header, .parallax-image-header__follow {
    background-image: url('../images/pictures/w6yraSunset2.jpg');
  }
}
#admin-wrapper{
  .parallax-image-header, .parallax-image-header__follow {
    background-image: url('../images/pictures/bruinSpacefinal.jpg');
  }
}

.scrollable-content {
  display: flex;
}
.scrollable-content__textboxes {
  flex: 65%
}
.scrollable-content__textbox {
  margin-bottom: 25vh;
  padding: 1vw;
  h2 {
    border-bottom: 2px solid $bright-blue;
  }
}
.scrollable-content__images {
  flex: 35%;
  img {
    position: sticky;
    top: 20%;
    margin: auto;
    max-height: 75vh;
    max-width: 35vw;
  }
}

@media (min-width: $tablet) {
  .scrollable-content__textboxes {
    flex: 50%;
  }
  .scrollable-content__textbox {
    margin-bottom: 25vh;
    padding: 1vw;
  }
  .scrollable-content__images {
    flex: 50%;
    img {
      top: 15%;
      max-width: 50vw;
    }
  }
}

@media (min-width: $laptop) {
  .scrollable-content__textboxes {
    flex: 40%;
  }
  .scrollable-content__textbox {
    margin-bottom: 30vh;
  }
  .scrollable-content__images {
    top: 10%;
    flex: 60%;
    img {
      max-width: 60vw;
      margin: auto;
      padding: 1vw;
    }
  }
}
/*
articles
*/

.page-header {
  padding-top: 6vh;
  width: 100%;
  text-align: center;
}
.article-list {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.article-preview {
  display: flex;
  flex-direction: column;
  width: 100vw;
  h2 {

  }
}
.article-preview__text {
  display: flex;
  flex-direction: column;
  width: 100vw;
  p {
    width: 100%;
  }
  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

@media (min-width: $laptop) {
  .article-list {
    margin: auto;
    width: 80vw;
  }
  .article-preview {
    flex-direction: row;
    width: 80vw;
    margin: 10px;
    padding: 2vw;
    h2 {

    }
  }
  .article-preview__text {
    width: 70%;
    p {

    }
  }
  .article-preview__image {
    width: 30%;
    img {
      display: block;
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto;
    }
  }
}
.gCalWrapper {
  background-color: #FFFFFF;
  iframe{
    width: 90vw;
    height: 90vh;
    margin: 2.5vh 5vw;
  }
}


.officer-cards__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.officer-card {
  box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.3);
  transition: 0.3s;
  margin: 2.5vw;
  width: 45vw;
  height: 50vw;
  position: relative;
  transition: all 0.5s;
  .card-cover {
    width: 100%;
    height: 100%;
    z-index: 2;
    text-align: center;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .card-caption {
      margin-top: -50%;
      z-index: 3;
      text-shadow: 0 0 20px black;
    }
  }
  .card-detail {
    z-index: 1;
    display: none;
    background-color: rgba(0,0,0,0.5);
    color: $white;
    padding: 5vw;
    h2 {
      border-bottom: 2px solid $white;
    }
    img {
      position: absolute;
      bottom: 10px;
      right: 10px;
      width: 35px;
      height: 35px;
    }
    @media (min-width: $tablet) {
      img {
        width: 40px;
        height: 40px;
      }
    }
    @media (min-width: $laptop) {
      img {
        width: 45px;
        height: 45px;
      }
    }
  }
  &:hover, &:active, &:focus {
    width: 90vw;
    height: 100vw;
    .card-cover {
      z-index: 1;
      .card-caption {
        display: none;
      }
    }
    .card-detail{
      z-index: 2;
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 0;
      left: 0;
      min-height: 100%;
      width: 100%;
    }
  }
}


@media (min-width: $tablet) {
  .officer-card {
    width: 40vw;
    height: 50vw;
    margin: 2vw;

    .card-caption{
      margin-top: -30%;
    }
    &:hover, &:active, &:focus {
      width: 40vw;
      height: 50vw;
    }
  }
}

@media (min-width: $laptop) {
  .officer-card {
    width: 30vw;
    height: 35vw;
    margin: 1vw;

    .card-caption{
      margin-top: -30%;
    }
    &:hover, &:active, &:focus {
      width: 30vw;
      height: 35vw;
    }
  }
}

// TODO: replace this with proper SASS inheritance
.form-cards__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #FFFFFF;
}

.form-card {
  position: relative;
  width: 80vw;
  height: auto;
  margin: 10px 0.25vw;
  border: none;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: $black;
  img {
    width: 100%;
    opacity: 0.9;
  }
  .card-container {
    width: 100%;
    height: 100%;
    text-align: center;
    position: absolute;
    top: 0%;
    color: white;
    text-shadow: 0 0 20px black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

@media (min-width: $tablet) {
  .form-card {
    width: 36vw;
    margin: 15px 2vw;
  }
}

@media (min-width: $laptop) {
  .form-cards__container {
    padding: 0px 20vw;
  }

  .form-card {
    width: 24vw;
    margin: 20px 2vw;
  }
}

.form-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  img {
    opacity: 0.5;
    -webkit-transition: all 0.25s ease-in;
    transition: all 0.25s ease-in;
  }
}


/* Timeline
https://codepen.io/jasondavis/pen/fDGdK
*/
.timeline {
  list-style: none;
  padding: 20px;
  position: relative;
}
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  left: 50%;
  margin-left: -1.5px;
}
.timeline > li {
  margin-bottom: 20px;
  position: relative;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li > .timeline-panel {
  width: 46%;
  float: left;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 20px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}
.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}
.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}
.timeline > li > .timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -25px;
  background-color: #999999;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline-badge.primary {
  background-color: #2e6da4 !important;
}
.timeline-badge.success {
  background-color: #3f903f !important;
}
.timeline-badge.warning {
  background-color: #f0ad4e !important;
}
.timeline-badge.danger {
  background-color: #d9534f !important;
}
.timeline-badge.info {
  background-color: #5bc0de !important;
}
.timeline-title {
  margin-top: 0;
  color: inherit;
}
.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}
.timeline-body > p + p {
  margin-top: 5px;
}

@media (min-width: $tablet) {
  .timeline {
    padding: 20px 80px;
  }
}

@media (min-width: $laptop) {
  .timeline {
    padding: 20px 120px;
  }
}

.notif-banner {
  position: fixed;
  padding: 10px;
  top: 50px;
  right: 25px;
  width: 320px;
  height: 60px;
  border-radius: 25px;
  background-color: green;
  opacity: 0.8;
  z-index: 5;
}

.notif-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
}

.notif-text {
  width: 300px;
  text-align: center;
}

#close-banner {
  position: absolute;
  cursor: pointer;
  top: 0px;
  right: 10px;
  font-size: 25px;
}

#_404-wrapper {
  width: 100vw;
  height: 60vh;
  padding: 0vw 5vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
