@use 'base';

.job-search-container {
    width: 100vw;
    margin: auto;
    .job-search-header {
        width: 100%;
        @include base.flex-display();
        @include base.justify-between();
        padding-left: 3vw;
        padding-right: 3vw;
        border-bottom: 3px black solid;
        // Here are some comments. I don't know what they're doing, but they were here when I found them.
        // The container must be positioned relative:
        // Style the arrow inside the select element:
        // Point the arrow upwards when the select box is open (active):
        // style the items (options), including the selected item:
        // Style items (options):
        // Hide the items when the select box is closed:
        .filter-container {
            @include base.flex-display();
            @include base.flex-row();
        }
        .select-div {
            position: relative;
            height: 50%;
            margin-top: auto;
            margin-bottom: auto;
            // hide original SELECT element:
            select {
                display: none;
            }
        }   
        .select-selected {
            background-color: #FFFFFF;
            color: #1A1A1A;
            &:after {
                position: absolute;
                content: "";
                top: 14px;
                right: 10px;
                width: 0;
                height: 0;
                border: 6px solid transparent;
                border-color: #000 transparent transparent transparent;
            }
            &.select-arrow-active:after {
                border-color: transparent transparent #000 transparent;
                top: 7px;
            }
        }
        .select-items div, .select-selected{
            padding: 8px 16px;
            cursor: pointer;
            border: #1A1A1A 3px solid;
        }
        .select-items {
            position: absolute;
            background-color: #FFFFFF;
            top: 100%;
            left: 0;
            right: 0;
            z-index: 99;
            div {
                border-color: #1A1A1A;
                border-width: 0px 3px 3px 3px;
                border-style: solid;
            }
        }
        .select-hide {
            display: none;
        }
        .select-items div:hover, .same-as-selected {
            background-color: rgba(0, 0, 0, 0.1);
        }
        .clear-filter {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
            margin-left: 2px;
            display: table-cell;
            vertical-align: bottom;
            z-index: 110;
            &:hover, &:focus {
                color: #6bbed1;
                text-decoration: none;
                cursor: pointer;
            }
        }
    }
    .job-card-container {
        @include base.flex-display();
        @include base.justify-center();
        @include base.flex-row();
        @include base.flex-wrap();
        padding: 0vw;
        .job-card {
            width: 100vw;
            margin-bottom: 1vw;
            -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            .job-card-header {
                border-bottom: 2px solid #6bbed1;
                padding: 2vw;
                padding-bottom: 3px;
                margin-bottom: 3px;
                @include base.flex-display();
                @include base.justify-between();
                @include base.flex-row();
                h2 {
                    font-size: 2.5rem;
                }
                .tags {
                    @include base.flex-display();
                    @include base.justify-around();
                    @include base.flex-col();
                    @include base.flex-wrap();
                    margin-left: 10px;
                    div {
                        border: 0px;
                        width: 22vw;
                        text-align: center;
                        color: #FFFFFF;
                        padding: 1px;
                        p {
                            margin: 0;
                        }
                    }
                }
            }
            .job-card-content {
                padding: 1vw;
                a {
                    margin-left: auto;
                }
            }
        }
        .job-card-modal {
            display: none; // Hidden by default
            position: fixed;  // Stay in place
            z-index: 100; // Sit on top
            padding: 10vh 5vw; // Location of the box
            left: 0;
            top: 0;
            width: 100%; // Full width
            height: 100%; // Full height
            overflow: auto; // Enable scroll if needed
            background-color: black; // Fallback color
            background-color: rgba(0, 0, 0, 0.4); // Black w/ opacity
            color: #1A1A1A;
            h2 {
                font-size: 2.5rem;
            }
            .job-card-header {
                border-bottom: 2px solid #6bbed1;
                padding: 2vw;
                padding-bottom: 3px;
                margin: 0;
                background-color: #FFFFFF;
                @include base.flex-display();
                @include base.justify-between();
                @include base.flex-row();
                .tags {
                    @include base.flex-display();
                    @include base.justify-around();
                    @include base.flex-col();
                    @include base.flex-wrap();
                    margin-left: 10px;
                    div {
                        border: 0px;
                        width: 22vw;
                        text-align: center;
                        color: #FFFFFF;
                        padding: 1px;
                        p {
                            margin: 0;
                        }
                    }
                }
            }
            .job-card-content {
                background-color: #FFFFFF;
                margin: 0;
                padding: 20px;
                .job-card-link {
                    width: 100%;
                    @include base.flex-display();
                    -webkit-box-pack: end;
                    -ms-flex-pack: end;
                    justify-content: flex-end;
                    a {
                        padding: 3px 15px;
                        margin: 2px;
                        background-color: #6bbed1;
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .job-search-container {
        width: 95vw;
        .job-card-container {
            padding: 3vw;
            -webkit-box-pack: left;
            -ms-flex-pack: left;
            justify-content: left;
            .job-card {
                width: 42vw;
                margin: 1vw;
                margin-bottom: 1vw;
                -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
                box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
                .job-card-header {
                    border-bottom: 2px solid #6bbed1;
                    padding: 1vw;
                    padding-bottom: 3px;
                    margin-bottom: 3px;
                    @include base.flex-display();
                    @include base.justify-around();
                    @include base.flex-row();
                    h2 {
                        font-size: 2rem;
                    }
                    .tags {
                        @include base.flex-display();
                        @include base.justify-around();
                        @include base.flex-col();
                        @include base.flex-wrap();
                        margin-left: 10px;
                        div {
                            border: 0px;
                            width: 10vw;
                            text-align: center;
                            color: #FFFFFF;
                            padding: 1px;
                            p {
                                margin: 0;
                            }
                        }
                    }
                }
            }
        }
        .job-card-modal h2 {
            font-size: 2rem;
        }
    }
}

@media (min-width: 1024px) {
    .job-search-container {
        width: 90vw;
        .job-card-container {
            padding: 3vw;
            .job-card {
                width: 27vw;
                margin: 0.5vw;
                .job-card-header {
                    padding: 1vw;
                    padding-bottom: 3px;
                    margin-bottom: 3px;
                    h2 {
                        font-size: 3rem;
                    }
                    .tags {
                        margin-left: 10px;
                        div {
                            width: 7vw;
                        }
                    }
                }
            }
            .job-card-modal h2 {
                font-size: 3rem;
            }
        }
    }
}
