.job-search-container {
  width: 100vw;
  margin: auto;
}
.job-search-container .job-search-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 3vw;
  padding-right: 3vw;
  border-bottom: 3px black solid;
}
.job-search-container .job-search-header .filter-container {
  display: flex;
  flex-direction: row;
}
.job-search-container .job-search-header .select-div {
  position: relative;
  height: 50%;
  margin-top: auto;
  margin-bottom: auto;
}
.job-search-container .job-search-header .select-div select {
  display: none;
}
.job-search-container .job-search-header .select-selected {
  background-color: #FFFFFF;
  color: #1A1A1A;
}
.job-search-container .job-search-header .select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #000 transparent transparent transparent;
}
.job-search-container .job-search-header .select-selected.select-arrow-active:after {
  border-color: transparent transparent #000 transparent;
  top: 7px;
}
.job-search-container .job-search-header .select-items div, .job-search-container .job-search-header .select-selected {
  padding: 8px 16px;
  cursor: pointer;
  border: #1A1A1A 3px solid;
}
.job-search-container .job-search-header .select-items {
  position: absolute;
  background-color: #FFFFFF;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}
.job-search-container .job-search-header .select-items div {
  border-color: #1A1A1A;
  border-width: 0px 3px 3px 3px;
  border-style: solid;
}
.job-search-container .job-search-header .select-hide {
  display: none;
}
.job-search-container .job-search-header .select-items div:hover, .job-search-container .job-search-header .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
.job-search-container .job-search-header .clear-filter {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-left: 2px;
  display: table-cell;
  vertical-align: bottom;
  z-index: 110;
}
.job-search-container .job-search-header .clear-filter:hover, .job-search-container .job-search-header .clear-filter:focus {
  color: #6bbed1;
  text-decoration: none;
  cursor: pointer;
}
.job-search-container .job-card-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0vw;
}
.job-search-container .job-card-container .job-card {
  width: 100vw;
  margin-bottom: 1vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.job-search-container .job-card-container .job-card .job-card-header {
  border-bottom: 2px solid #6bbed1;
  padding: 2vw;
  padding-bottom: 3px;
  margin-bottom: 3px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.job-search-container .job-card-container .job-card .job-card-header h2 {
  font-size: 2.5rem;
}
.job-search-container .job-card-container .job-card .job-card-header .tags {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 10px;
}
.job-search-container .job-card-container .job-card .job-card-header .tags div {
  border: 0px;
  width: 22vw;
  text-align: center;
  color: #FFFFFF;
  padding: 1px;
}
.job-search-container .job-card-container .job-card .job-card-header .tags div p {
  margin: 0;
}
.job-search-container .job-card-container .job-card .job-card-content {
  padding: 1vw;
}
.job-search-container .job-card-container .job-card .job-card-content a {
  margin-left: auto;
}
.job-search-container .job-card-container .job-card-modal {
  display: none;
  position: fixed;
  z-index: 100;
  padding: 10vh 5vw;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
  color: #1A1A1A;
}
.job-search-container .job-card-container .job-card-modal h2 {
  font-size: 2.5rem;
}
.job-search-container .job-card-container .job-card-modal .job-card-header {
  border-bottom: 2px solid #6bbed1;
  padding: 2vw;
  padding-bottom: 3px;
  margin: 0;
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.job-search-container .job-card-container .job-card-modal .job-card-header .tags {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 10px;
}
.job-search-container .job-card-container .job-card-modal .job-card-header .tags div {
  border: 0px;
  width: 22vw;
  text-align: center;
  color: #FFFFFF;
  padding: 1px;
}
.job-search-container .job-card-container .job-card-modal .job-card-header .tags div p {
  margin: 0;
}
.job-search-container .job-card-container .job-card-modal .job-card-content {
  background-color: #FFFFFF;
  margin: 0;
  padding: 20px;
}
.job-search-container .job-card-container .job-card-modal .job-card-content .job-card-link {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.job-search-container .job-card-container .job-card-modal .job-card-content .job-card-link a {
  padding: 3px 15px;
  margin: 2px;
  background-color: #6bbed1;
}

@media (min-width: 768px) {
  .job-search-container {
    width: 95vw;
  }
  .job-search-container .job-card-container {
    padding: 3vw;
    justify-content: left;
  }
  .job-search-container .job-card-container .job-card {
    width: 42vw;
    margin: 1vw;
    margin-bottom: 1vw;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  .job-search-container .job-card-container .job-card .job-card-header {
    border-bottom: 2px solid #6bbed1;
    padding: 1vw;
    padding-bottom: 3px;
    margin-bottom: 3px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }
  .job-search-container .job-card-container .job-card .job-card-header h2 {
    font-size: 2rem;
  }
  .job-search-container .job-card-container .job-card .job-card-header .tags {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 10px;
  }
  .job-search-container .job-card-container .job-card .job-card-header .tags div {
    border: 0px;
    width: 10vw;
    text-align: center;
    color: #FFFFFF;
    padding: 1px;
  }
  .job-search-container .job-card-container .job-card .job-card-header .tags div p {
    margin: 0;
  }
  .job-search-container .job-card-modal h2 {
    font-size: 2rem;
  }
}
@media (min-width: 1024px) {
  .job-search-container {
    width: 90vw;
  }
  .job-search-container .job-card-container {
    padding: 3vw;
  }
  .job-search-container .job-card-container .job-card {
    width: 27vw;
    margin: 0.5vw;
  }
  .job-search-container .job-card-container .job-card .job-card-header {
    padding: 1vw;
    padding-bottom: 3px;
    margin-bottom: 3px;
  }
  .job-search-container .job-card-container .job-card .job-card-header h2 {
    font-size: 3rem;
  }
  .job-search-container .job-card-container .job-card .job-card-header .tags {
    margin-left: 10px;
  }
  .job-search-container .job-card-container .job-card .job-card-header .tags div {
    width: 7vw;
  }
  .job-search-container .job-card-container .job-card-modal h2 {
    font-size: 3rem;
  }
}/*# sourceMappingURL=jobs.css.map */