@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* :root {
  background-color: F3F1EB;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }} */

body {
  font-family: 'Montserrat', sans-serif;
  color: #F7F7F7;
  background-color: #020205;
}

.op-dim {
  opacity: 0.65;
}

.rapid-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)), url('/projects/rapid2.JPG');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.overseer-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.55)), url('/projects/overseer.JPG');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.forge-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.55)), url('/projects/forge.JPG');
  background-blend-mode: darken;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.cta-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.55)), url('/projects/rapid.JPG');
  background-blend-mode: darken;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 75%;
}

.timeline {
  color:#020205;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px;
}

.timeline-item {
  padding: 10px;
  border: 1px solid;
  border-left: 5px solid #444;
  background-color: #f9f9f9;
  border-radius: 5px;
}

.timeline-item h3 {
  margin: 0;
}

.timeline-item.past {
  color:#a7a7a7;
  border-color: #7b7b7b;
  background-color: #00000000
}

.timeline-item.current {
  color: white;
  border-color: #0d62ae;
  background-color: #00000000
}

.timeline-item.planned {
  color:#a7a7a7;
  border-color: #844e9f;
  background-color: #00000000;
}