<div id="admin-wrapper" class="parallax-wrapper">
    <div class="project-header">
        <div class="parallax-image-header parallax-image"></div>
        <div class="project-header__title">
            <h1>Admin</h1>
        </div>
    </div>
    <div class="project-intro dark">
        <h1>Go behind the scenes</h1>
        <p>Our science and engineering projects wouldn't be possible without the incredible work put in by our admin
            teams: internal affairs, external affairs, finance, and marketing. These teams not only enable the
            projects to thrive, but they facilitate communication and help us engage with our community.</p>
    </div>
    <div class="parallax-image-header__follow parallax-image"></div>
    <div class="text-image__container light text-left">
        <h1 class="title" id="marketing">Marketing</h1>
        <div class="text-image image-left">
            <img src="{{marketing}}">
            <div class="paragraph-container">
                <p>Our marketing team focuses on brand management and content generation, working to make the
                    science and engineering accessible to the public. We hope to share our passion for space
                    in a way that inspires and excites those around us.</p>
                <p>Responsibilities</p>
                <ul>
                    <li>Manage social media accounts</li>
                    <li>Graphic design and media creation</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="text-image__container dark">
        <h1 class="title" id="finance">Finance</h1>
        <div class="text-image">
            <img src="{{finance}}">
            <div class="paragraph-container">
                <p>Our finance team tracks the organization's accounts and works to secure additional funding.</p>
                <p>Responsibilities</p>
                <ul>
                    <li>Manage accounts with internal spreadsheets and communicate with campus account offices</li>
                    <li>Draft funding proposals</li>
                    <li>Communicate with cooroprate sponsors and facilitate donations</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="text-image__container light">
        <h1 class="title" id="internalAffairs">Internal Affairs</h1>
        <div class="text-image image-left">
            <img src="{{internalAffairs}}">
            <div class="paragraph-container">
                <p>Our internal affairs team, under the direction of the Internal Vice President, seeks to facilitate
                    social and developmental programs within the organization.</p>
                <p>In addition to creating a workshop curriculum for incoming members, the team organizes social
                    events like BBQs and rocket launch viewing parties.</p>
                <p>Responsibilities</p>
                <ul>
                    <li>Coordinating large groups of people</li>
                    <li>Creating interest forms and engaging members</li>
                    <li>Organizing educational workshops</li>
            </div>
        </div>
    </div>
    <div class="text-image__container dark">
        <h1 class="title" id="externalAffairs">External Affairs</h1>
        <div class="text-image">
            <img src="{{externalAffairs}}">
            <div class="paragraph-container">
                <p>The external affairs team is focused on corporate outreach, community engagement, and
                    recruitment.</p>
                <p>Responsibilities</p>
                <ul>
                    <li>Contacting professionals in the aerospace industry and building mutually beneficial
                        relationships</li>
                    <li>Coordinating with UCLA organizations to participate in public outreach events such as
                        Exploring Your Universe, Engineer's Week, and more.</li>
                    <li>Passing out flyers and stationing booths at recruitment events like the Enormous Activities
                        Fair</li>
                </ul>
            </div>
        </div>
    </div>
</div>
