<div id="team-wrapper" class="parallax-wrapper">
    <div class="project-header">
        <div class="parallax-image-header parallax-image"></div>
        <div class="project-header__title">
            <h1>Our Mascot</h1>
        </div>
    </div>
    <div class="project-intro dark">
        <h1>Bru in Space</h1>
    </div>
    <div class="parallax-image-header__follow parallax-image"></div>
    <div class="project-description dark">
        <h1 class=""></h1>
        <div class="project-description__content">
            <p> {{project_description}} </p>
        <div class="image-container">
            <img src="{{logo}}">
        </div>
        <div class="team-description light">
            <h4> Jeanin Lee, Creator </h4>
    </div>
</div>
