<div id="mascot-wrapper" class="parallax-wrapper">
    <div class="project-header">
        <div class="parallax-image-header parallax-image"></div>
        <div class="project-header__title">
            <h1>Our Mascot</h1>
        </div>
    </div>
    <div class="project-intro dark">
        <h1>Bru in Space</h1>
    </div>
    <div class="parallax-image-header__follow parallax-image"></div>
    <div class="project-description dark">
        <h1 class="title"></h1>
        <div class="project-description__content">
            <div class="image-container"><img src="{{logo}}"></div>
            <p class="paragraph-container"> {{project_description}} </p>
        </div>
        <div class="team-description light">
            <p class="title">
                "The creation of Bru was actually an accident, just like many other wonderful space discoveries!
                They were supposed to be a funny little background doodle in presentation slide backgrounds, but
                once the marketing team realized how adorable the character was, I had to evolve this little bear
                into a full character. The name Bru was chosen because it is a pun for the name of the club (Bru
                in Space). And now they reside, surrounded by stars and endless possibility, discovering and
                learning just like the Bruins on Earth.'' -Jeanine Lee, Creator
            </p>
        </div>
    </div>
</div>
