<div id="sponsor-wrapper" class="parallax-wrapper">
    <div class="project-header">
        <div class="parallax-image-header parallax-image"></div>
        <div class="project-header__title">
            <h1>Sponsor Us</h1>
        </div>
    </div>
    <div class="project-intro dark">
        <h1>Help us take this to the next level</h1>
    </div>
    <div class="parallax-image-header__follow parallax-image"></div>
    <div class="text-image__container light">
        <h1 class="title">Why Bruin Space?</h1>
        <div class="text-image">
            <video width="100%" autoplay muted loop>
                <source src="{{video-link}}" type="video/mp4">
                HTML video is not supported by your browser.
            </video>
            <div class="paragraph-container">
                <ul>
                    <li>We are a young organization, looking for companies to build lasting relationships with.</li>
                    <li>We are rapidly expanding, getting more students involved from all over campus.</li>
                    <li>Plus, space is cool! Help us share our passion!</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="paragraph-container dark">
        <h1 class="title">Here are the details</h1>
        <div class="paragraph-container">
            <p>Donations to the Bruin Spacecraft Group are tax deductible and are accompanied with the following
                benefits:</p>
            <ul>
                <li>Donors can choose for their gift to be made to a specific project or to Bruin Space directly</li>
                <li>Hardware donations will be assigned a monetary value based off the average market price for the
                    item, and will count towards the donors’ gift total</li>
                <li>Donation totals for funding levels (below) are considered by academic year</li>
                <li>Donors will be given priority for campus events (talks, info-sessions, resume collections,
                    tech-talks, etc.)</li>
            </ul>
        </div>
    </div>
    <div class="paragraph-container light">
        <h3>Bruin Space has five funding levels, each with distinct benefits. Each level also includes benefits of
            those underneath.</h3>
    </div>
    <div class="sponsorship-level">
        <h2 class="title"><span style="font-weight:bold">Nova </span> $1 - $999</h2>
        <ul>
            <li>Branding on website, social media and marketing materials</li>
        </ul>
    </div>
    <div class="sponsorship-level">
        <h2 class="title"><span style="font-weight:bold">Nebula </span> $1000 - $2,499</h2>
        <ul>
            <li>Nova</li>
            <li>Exclusive recruiting access to top students attending UCLA's globally acclaimed engineering school</li>
        </ul>
    </div>
    <div class="sponsorship-level">
        <h2 class="title"><span style="font-weight:bold">Galaxy </span> $2,500 - $4,999</h2>
        <ul>
            <li>Nebula</li>
            <li>Company exclusive recruiting events and info sessions</li>
            <li>Project Updates</li>
            <li>Access to BruinSpace resume books</li>
            <li>Company speaker series</li>
        </ul>
    </div>
    <div class="sponsorship-level">
        <h2 class="title"><span style="font-weight: bold">Cosmos </span> $5,000 - $9,999</h2>
        <ul>
            <li>Galaxy</li>
            <li>Lab tours</li>
            <li>design reviews</li>
        </ul>
    </div>
    <div class="sponsorship-level">
        <h2 class="title"><span style="font-weight: bold">Universe </span> $10,000+</h2>
        <ul>
            <li>Cosmos</li>
            <li>Logo on select flight hardware</li>
        </ul>
    </div>
    <div class="paragraph-container dark">
        <a class="button" href="https://giving.ucla.edu/campaign/donate.aspx?Fund=63852O&Code=M-8295&AutoFN=Y"
            target="_blank">Become a Sponsor!</a>
        <p>For any inquiries, contact uclabruinspace@gmail.com to get in touch with us, and we would be happy to
            negotiate the terms of your sponsorship.</p>
    </div>
</div>
