<div class="notif-banner">
    <span id="close-banner" onclick="close_notif()">&times;</span>
    <script>
        function close_notif() {
            document.getElementsByClassName('notif-banner')[0].style.display = "none";
        }
    </script>
    <div class="notif-container">
        <p class="notif-text">
            Reminder: Don't miss our first General Meeting <a href="{{notif-link}}">Wedensday, October 2nd</a>!
        </p>
    </div>
</div>
