<a class="brand" href="{{home}}">
  <img src="{{logo}}">
</a>
<nav class="site-nav" role="navigation">
  <ul class="site-nav__list">
    {{#each links}}
      {{{element}}}
    {{/each}}
  </ul>
</nav>
<button class="mob-nav__burger" id="MobMenuToggle" onclick="">
  <img id="burger" src="{{burger}}">
</button>
